@import '~bootstrap/dist/css/bootstrap.css';

.navbar{
    background-color: #f5b56c;
    padding: 1%;
}
.container{
    background-color: rgba(256, 256, 256, 0.9);
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0;
    padding-top: 65px;
    margin: 0;
}
.centrado{
    margin: auto;
}