<div class="container col-md-12 mx-auto">
    <div class="row" id="clientes">
        <h1>Lista de Clientes</h1>
        <div class="row table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Identificación</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Fecha de Nacimiento</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Edad</th>
                        <th scope="col">Borrar</th>
                        <th scope="col">Actualizar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of clientes">
                        <th scope="row">{{c.identificacion}}</th>
                        <td>{{c.nombre}} {{c.apellido}}</td>
                        <td>{{c.nacimiento}}</td>
                        <td>{{c.telefono}}</td>
                        <td>{{c.edad}}</td>
                        <td><button class="btn btn-primary" (click)="eliminar(c.identificacion)">Borrar</button></td>
                        <td><button class="btn btn-primary" [routerLink]="['edita', c.identificacion]">Editar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <button class="btn btn-primary" [routerLink]="['nuevo']">Nuevo Cliente</button>
</div>